.list {
display: flex;
flex-direction: column;
gap: 5px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
}

.lastMessage {
    font-size: 12px;
}

.deleteBtn {
    border: none;
    margin-left: auto;
    background-color: inherit;
}